main {
    background-color: #cccccc;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}

main:after {
    content: '';
    display: block;
    clear: both;
}


main > div {
    background-color: white;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
}

main > div:nth-child(2) {
    background: red;
    float: right;
    /* height: 600px; */
}