main {
    background-color: #cccccc;
    min-height: 200px;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content: center; */
}

/* main:after {
    content: '';
    display: block;
    clear: both;
} */

main > div {
    min-width: 100px;
    min-height: 100px;
    background: white;
    margin: 10px;
}

main > div:nth-child(2) {
    background: red;
    float: right;
    /* height: 500px; */
}